.loginPage {
  background-color: rgb(63, 63, 63);
  text-align: center;
  color: white;
  /*display: none;*/
}

h2 {
  color: rgb(255, 183, 28);
}

#logo{
  width: auto;
  height: 50%;
}

.btn-orange {
  background-color: rgb(255, 183, 28);
}
